@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.campo-texto {
    margin: 32px 0;
    box-sizing: border-box;
}

.campo-texto label {
    margin-bottom: 8px;
    display: block;
    color: #FFFFFF;
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.campo-texto input,
.campo-texto textarea {
    background-color: transparent;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 4px solid #2271D1;
    color: #A5A5A5;
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.campo-texto textarea {
    height: 100px;
    resize: none;
}