.card {
    width: 430px;
    border-radius: 5px 5px 15px 15px;
    border: 4px solid;
}

.card .imagem {
    height: 250px;
    width: calc(430px - 4px);
    border: 2px solid;
}

.card .opcoes {
    margin: 16px 0;
    display: flex;
    justify-content: space-around;
}