.novo-card {
    background-color: #191919;
    padding: 48px;
    display: flex;
    justify-content: center;
}

.novo-card .conteudo {
    width: 60%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .novo-card .conteudo {
        width: 100%;
    }
}