@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.categoria {
    background-color: hsl(0, 0%, 0%);
    padding: 48px 0;
}

.categoria .titulo {
    margin: 0 0 48px 16px;
    padding: 8px 0;
    width: 430px;
    border-radius: 15px;
    text-align: center;
    color: #F5F5F5;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

.categoria .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
    .categoria .titulo {
        margin: 0 auto 48px;
    }

    .categoria .cards {
        padding: 0 16px 24px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 16px;
    }

    .categoria .cards::-webkit-scrollbar {
        height: 8px;
    }

    .categoria .cards::-webkit-scrollbar-thumb {
        background-color: #2271D1;
        border-radius: 8px;
    }

    .categoria .cards .card {
        flex: 0 0 50%;
        max-width: calc(50% - 16px);
    }
}

@media screen and (min-width: 632px) and (max-width: 800px) {
    .categoria .titulo {
        margin: 0 auto 48px;
    }

    .categoria .cards {
        padding: 0 16px 24px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 16px;
    }

    .categoria .cards::-webkit-scrollbar {
        height: 8px;
    }

    .categoria .cards::-webkit-scrollbar-thumb {
        background-color: #2271D1;
        border-radius: 8px;
    }

    .categoria .cards .card {
        flex: 0 0 70%;
        max-width: calc(70% - 8px);
    }
}

@media screen and (min-width: 481px) and (max-width: 631px) {
    .categoria .titulo {
        margin: 0 auto 48px;
    }

    .categoria .cards {
        padding: 0 16px 24px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 16px;
    }

    .categoria .cards::-webkit-scrollbar {
        height: 8px;
    }

    .categoria .cards::-webkit-scrollbar-thumb {
        background-color: #2271D1;
        border-radius: 8px;
    }

    .categoria .cards .card {
        flex: 0 0 100%;
        max-width: calc(100% - 8px);
    }
}